@{
	var currentUrl = Url.ActionContext.HttpContext.Request.Path;
}

<div class="col-lg-3">
	<div class="row g-4">
		<div class="col-lg-12">
			<div class="mb-3">
				<h4>Categories</h4>
				<ul class="list-unstyled fruite-categorie">
					<vc:product-categories></vc:product-categories>
				</ul>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="mb-3">
				<h4 class="mb-2">Price</h4>
				<input type="text" id="amount" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
				<div id="slider-range"></div>
				<div class="btn btn-outline-primary btn-filter mt-4 text-primary" name="price" data-current_url="@currentUrl">Lọc giá</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="mb-3">
				<h4>Additional</h4>
				<div class="mb-2">
					<input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
					<label for="Categories-1"> Organic</label>
				</div>
				<div class="mb-2">
					<input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
					<label for="Categories-2"> Fresh</label>
				</div>
				<div class="mb-2">
					<input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
					<label for="Categories-3"> Sales</label>
				</div>
				<div class="mb-2">
					<input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
					<label for="Categories-4"> Discount</label>
				</div>
				<div class="mb-2">
					<input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
					<label for="Categories-5"> Expired</label>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<h4 class="mb-3">Featured products</h4>
			@if (ViewBag.BestSellers != null)
			{
				foreach (var item in ViewBag.BestSellers)
				{
					<div class="d-flex align-items-center justify-content-start">
						<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" asp-route-slug="@item.Slug">
							<div class="rounded me-4" style="width: 140px; height: auto;">
								<img src="~/media/products/@item.Image" class="img-fluid rounded" alt="@item.Image">
							</div>
						</a>
						<div>
							<h6 class="mb-2">
								<a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" asp-route-slug="@item.Slug">@item.Name</a>
							</h6>
							<div class="d-flex mb-2">
								@if (ViewBag.AverageRating != null)
								{
									@for (int i = 1; i <= 5; i++)
									{
										if (i <= ViewBag.AverageRating)
										{
											<i class="fa fa-star text-secondary"></i>
										}
										else
										{
											<i class="fa fa-star"></i>
										}
									}
								}
								else
								{
									<p>Chưa có đánh giá</p>
								}
							</div>
							<div class="d-flex mb-2 flex-wrap">
								<h5 class="fw-bold me-2">@item.PriceSale.ToString("#,##0 VND")</h5>
								<h5 class="text-danger text-decoration-line-through">@item.Price.ToString("#,##0 VND")</h5>
							</div>
						</div>
					</div>
				}
			}
			else
			{
				<p>No featured products</p>
			}
			<div class="d-flex justify-content-center my-4">
				<a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
			</div>
		</div>
		<div class="col-lg-12">
			@await Component.InvokeAsync("BannerProduct", new { position = "product" })
		</div>
	</div>
</div>