@model IEnumerable<OrderModel>

@{
	ViewData["Title"] = "Profile";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Profile</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Profile</li>
	</ol>
</div>
<!-- Single Page Header End -->
<!-- Tastimonial Start -->
<div class="container-fluid testimonial py-5">
	<div class="container py-5">
		<div class="testimonial-header text-center">
			<h4 class="text-primary">Profile</h4>
			<h1 class="display-5 mb-5 text-dark">Hello, @ViewBag.UserEmail!</h1>
		</div>

		<div class="card" style="margin-bottom: 100px;">
			<div class="card-header p-2">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link active" href="#activity" data-bs-toggle="tab">Wishlist</a></li>
					<li class="nav-item"><a class="nav-link" href="#timeline" data-bs-toggle="tab">Compare</a></li>
					<li class="nav-item"><a class="nav-link" asp-action="Edit" asp-controller="Account">Settings</a></li>
				</ul>
			</div><!-- /.card-header -->
			<div class="card-body">
				<div class="tab-content">
					<div class="active tab-pane" id="activity">
						<div class="row">
							@foreach (var item in ViewBag.Wishlist)
							{
								<div class="col-lg-6">
									<div class="card mb-3" style="max-width: 540px;">
										<div class="row g-0">
											<div class="col-md-4">
												<img src="~/media/products/@item.Product.Image" class="img-fluid rounded-start" alt="...">
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<h5 class="card-title">@item.Product.Name</h5>
													<h6>@item.Product.Price.ToString("#,##0 VND")</h6>
													<p class="card-text">@item.Product.Description</p>
													<div class="d-flex justify-content-between align-items-center">
														<p class="card-text mb-0"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
														<a onclick="return confirm('Bạn có xác nhận muốn xoá không?')" asp-action="DeteleWishlist" class="btn btn-sm btn-primary" asp-controller="Account" asp-route-id="@item.Wishlist.Id"><i class="fas fa-trash-alt text-white"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
					<!-- /.tab-pane -->
					<div class="tab-pane" id="timeline">
						<!-- The timeline -->
						<div class="row">
							@foreach (var item in ViewBag.Compare)
							{
								<div class="col-lg-6">
									<div class="card mb-3" style="max-width: 540px;">
										<div class="row g-0">
											<div class="col-md-4">
												<img src="~/media/products/@item.Product.Image" class="img-fluid rounded-start" alt="...">
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<h5 class="card-title">@item.Product.Name</h5>
													<h6>@item.Product.Price.ToString("#,##0 VND")</h6>
													<p class="card-text">@item.Product.Description</p>
													<div class="d-flex justify-content-between align-items-center">
														<p class="card-text mb-0"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
														<a onclick="return confirm('Bạn có xác nhận muốn xoá không?')" asp-action="DeteleCompare" class="btn btn-sm btn-primary" asp-controller="Account" asp-route-id="@item.Compare.Id"><i class="fas fa-trash-alt text-white"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</div>
					<!-- /.tab-pane -->
				</div>
				<!-- /.tab-content -->
			</div><!-- /.card-body -->
		</div>

		<div class="owl-carousel testimonial-carousel">
			@foreach (var item in Model)
			{
				<div class="testimonial-item img-border-radius bg-light rounded p-4">
					<div class="position-relative">
						@if (item.Status != 2)
						{
							<a onclick="return confirm('Bạn có xác nhận muốn xoá không?')" asp-action="CancelOrder" asp-controller="Account" asp-route-code="@item.OrderCode">
								<i class="far fa-times-circle fa-2x text-danger position-absolute" style="bottom: 30px; right: 0;"></i>
							</a>
						}
						<div class="mb-4 pb-4 border-bottom border-secondary">
							<p class="mb-0">
								@item.CreatedDate.ToString("dd/MM/yyyy")
							</p>
						</div>
						<div class="d-flex align-items-center flex-nowrap">
							<div class="ms-4 d-block">
								<h4 class="text-dark">@item.UserName</h4>
								@if (item.Status == 1)
								{
									<p class="m-0 pb-3 text-success">Đơn hàng mới</p>
								}
								else if (item.Status == 0)
								{
									<p class="m-0 pb-3 text-primary">Đã hoàn thành đơn hàng</p>
								}
								else
								{
									<p class="m-0 pb-3 text-danger">Đã huỷ</p>
								}
								@if (item.PaymentMethod == "COD" || item.PaymentMethod == null)
								{
									<p class="m-0 pb-3 text-success">@item.PaymentMethod</p>
								}
								else
								{
									<p class="m-0 pb-3 text-success">Qua Momo @item.PaymentMethod</p>
								}
								<span> Shipping: </span> <span class="m-0 pb-3 h6"> @item.ShippingCode.ToString("#,##0 VND") </span>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>
<!-- Tastimonial End -->
