@model IEnumerable<OrderModel>

@{
	ViewData["Title"] = "Home";
}

<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Order</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">Order</li>
		</ol>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i>
				DataTable @ViewData["Title"]
			</div>
			<div class="card-body">
				<table id="datatablesSimple">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Username</th>
							<th>Order Code</th>
							<th>Coupon Code</th>
							<th>Shipping cost</th>
							<th>Create date</th>
							<th>Payment</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					@if (Model != null && Model.Any())
					{
						var i = 1;
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td scope="col">@i</td>
									<td>@item.UserName</td>
									<td>@item.OrderCode</td>
									<td>@item.CouponCode</td>
									<td>@item.ShippingCode.ToString("#,##0 VND")</td>
									<td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
									<td>
										@if (item.PaymentMethod == "COD")
										{
											<span class="badge bg-secondary"> @item.PaymentMethod </span>
										}
										else
										{
											string text = item.PaymentMethod;
											string payment = text.Split(" ")[1];
											string paymentCode = text.Split(" ")[0];
											if (payment == "Momo")
											{
												<span class="badge bg-warning"> <a asp-route-orderId="@paymentCode" asp-action="PaymentMomoInfo" asp-controller="Order">@payment</a> </span>
											}
											else
											{
												<span class="badge bg-info"> <a asp-route-orderId="@paymentCode" asp-action="PaymentVnpayInfo" asp-controller="Order">@payment</a> </span>
											}
										}
									</td>
									<td>
										@if (item.Status == 1)
										{
											<span class="badge bg-primary"> Đơn hàng mới </span>
										}
										else if (item.Status == 0)
										{
											<span class="badge bg-success"> Đã hoàn thành đơn hàng </span>
										}
										else
										{
											<span class="badge bg-danger"> Đã huỷ </span>
										}
									</td>
									<td>
										<a class="btn btn-sm btn-info" asp-action="ViewOrder" asp-controller="Order" asp-route-code="@item.OrderCode"><i class="fa-regular fa-folder-open"></i></a>
										<a class="btn btn-sm btn-danger confirmDeletion" asp-action="Delete" asp-controller="Order" asp-route-Id="@item.Id"><i class="fa-regular fa-circle-xmark"></i></a>
									</td>
								</tr>
								i++;
							}
						</tbody>
					}
					else
					{
						<tbody>
						</tbody>
					}
				</table>
			</div>
		</div>
	</div>
</main>