@model IEnumerable<CategoryModel>

@{
	ViewData["Title"] = "Category List";

	Paginate paginate = new Paginate();
	int pageZero = 0;

	if (ViewBag.Page != null)
	{
		paginate = ViewBag.Page;
		pageZero = paginate.CurrentPage;
	}
}
<main>
	<div class="container-fluid px-4">
		<h1 class="mt-4">Category</h1>
		<div class="row mb-2">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li class="breadcrumb-item active">Category</li>
				</ol>
			</div>
			<div class="col-md-6 text-end">
				<a class="btn btn-sm btn-primary" asp-action="Create" asp-controller="Category">Add Category</a>
			</div>
		</div>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table me-1"></i>
				DataTable @ViewData["Title"]
			</div>
			<div class="card-body">
				<table id="datatablesSimple" class="display nowrap" style="width:100%">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Name</th>
							<th>Slug</th>
							<th>Description</th>
							<th>CreatedDate</th>
							<th>ModifierDate</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					@if (Model != null && Model.Any())
					{
						var i = 1;
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td scope="col">@i</td>
									<td>@item.Name</td>
									<td>@item.Slug</td>
									<td>@item.Description</td>
									<td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
									<td>@item.ModifierDate.ToString("dd/MM/yyyy")</td>
									<td>
										@if (item.Status == 1)
										{
											<span class="badge bg-success">Active</span>
										}
										else
										{
											<span class="badge bg-danger">Inactive</span>
										}
									</td>
									<td>
										<a class="btn btn-sm btn-info" asp-action="Edit" asp-controller="Category" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square"></i></a>
										<a class="btn btn-sm btn-danger confirmDeletion" asp-action="Delete" asp-controller="Category" asp-route-Id="@item.Id"><i class="fa-regular fa-circle-xmark"></i></a>
									</td>
								</tr>
								i++;
							}
						</tbody>
					}
					else
					{
						<tbody>
						</tbody>
					}
				</table>
			</div>
		</div>

		<partial name="_Pagination" model="@paginate" />
	</div>
</main>