@model IEnumerable<ProductModel>
@{
	ViewData["Title"] = "Product Page";
	ViewBag.Menu = "Product";

	Paginate paginate = new Paginate();
	int pageZero = 0;

	if (ViewBag.Page != null)
	{
		paginate = ViewBag.Page;
		pageZero = paginate.CurrentPage;
	}
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Shop</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Shop</li>
	</ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
	<div class="container py-5">
		<h1 class="mb-4">Fresh fruits shop</h1>
		<div class="row g-4">
			<div class="col-lg-12">
				<div class="row g-4">
					<div class="col-xl-3">
						<form asp-action="Search" asp-controller="Product" method="post" class="input-group w-100 mx-auto d-flex">
							<input type="search" class="form-control p-3" placeholder="keywords" name="keyword" aria-describedby="search-icon-1">
							<button type="submit" id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<div class="col-6"></div>
				@await Html.PartialAsync("_FilterProduct")
				</div>
				<div class="row g-4">
					@await Html.PartialAsync("_SiderBarProduct")
					<div class="col-lg-9">
						<div class="row g-4 justify-content-center">
							@if (Model != null && Model.Any())
							{
								foreach (var item in Model)
								{
									<div class="col-md-6 col-lg-6 col-xl-4">
										<div class="rounded position-relative fruite-item">
											<a asp-action="Details" asp-controller="Product" asp-route-Slug="@item.Slug" asp-route-Id="@item.Id">
												<div class="fruite-img">
													<img src="~/media/products/@item.Image" class="img-fluid w-100 rounded-top" alt="@item.Name">
												</div>
											</a>
											<div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category.Name</div>
											@if (User.Identity.IsAuthenticated)
											{
												<button class="px-2 py-1 bg-transparent rounded border border-secondary position-absolute add-to-wishlist" style="top: 10px; right: 10px;" data-id="@item.Id"><i class="fas fa-heart text-primary"></i></button>
											}
											<div class="p-4 border border-secondary border-top-0 rounded-bottom text-center">
												<h4>@item.Name</h4>
												<p class="text-truncate">@item.Description</p>
												<p class="text-dark fs-5 fw-bold mb-0">@item.Price.ToString("#,##0 VND") / kg</p>
												@if (item.Quantity > 0)
												{
													if (User.Identity.IsAuthenticated)
													{
														<div class="d-flex justify-content-between flex-lg-wrap mt-3">
															<button data-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-to-cart">
																<i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
															</button>

															<button data-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-to-compare">
																<i class="fas fa-plus-square text-primary"></i>
															</button>
														</div>
													}
													else
													{
														<div class="d-flex justify-content-center flex-lg-wrap mt-3">
															<button data-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-to-cart">
																<i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
															</button>
														</div>
													}
												}
												else
												{
													<div class="d-flex justify-content-center flex-lg-wrap mt-3">
														<button class="btn border border-secondary rounded-pill px-3 text-primary">
															Hết hàng
														</button>
													</div>
												}
											</div>
										</div>
									</div>
								}
							}
							else
							{
								<div class="col-12">
									<div class="alert alert-danger">No product found</div>
								</div>
							}
							<partial name="_Pagination" model="@paginate" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Fruits Shop End-->
@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$('.add-to-cart').click(function () {
				var id = $(this).data('id');

				$.ajax({
					url: "@Url.Action("Add", "Cart")",
					data: { id: id },
					type: 'POST',
					success: function (response) {
						if (response.success) {
							notyf.success(response.message);
							showCount();
						} else {
							notyf.error(response.message);
						}
					}
				});
			});

			$('.add-to-wishlist').click(function () {
				var id = $(this).data('id');

				$.ajax({
					url: "@Url.Action("AddWishlist", "Home")",
					data: { id: id },
					type: 'POST',
					success: function (response) {
						if (response.success) {
							notyf.success(response.message);
						} else {
							notyf.error("Error add wishlist");
						}
					}
				});
			});

			$('.add-to-compare').click(function () {
				var id = $(this).data('id');

				$.ajax({
					url: "@Url.Action("AddCompare", "Home")",
					data: { id: id },
					type: 'POST',
					success: function (response) {
						if (response.success) {
							notyf.success(response.message);
						} else {
							notyf.error("Error add wishlist");
						}
					}
				});
			});

			$('#sort_by').on('change', function(){
				var url = $(this).val();
				if(url){
					window.location = url;
				}
				return false;
			})
			$(function() {
			  $( "#slider-range" ).slider({
				range: true,
				step: 10000,
				min: 10000,
				max: 10000000,
				values: [ 75, 300 ],
				slide: function( event, ui ) {
					$( "#amount" ).val(
						new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format(ui.values[ 0 ]) +
						" - " +
						new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format(ui.values[ 1 ])
					);
				}
			  });
			  $( "#amount" ).val( new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format($( "#slider-range" ).slider( "values", 0 )) +
				" - " + new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' }).format($( "#slider-range" ).slider( "values", 1 )));
			});

			$('.btn-filter').on('click', function(){
				var url = $(this).data('current_url');
				if(url){
					window.location = url + "?startprice=" + $( "#slider-range" ).slider( "values", 0 ) + "&endprice=" + $( "#slider-range" ).slider( "values", 1 );
				}
				return false;
			})
		});

	</script>
}