@model IEnumerable<ProductModel>
@{
	ViewData["Title"] = ViewBag.Keyword;

	ViewBag.Menu = "Home";
}


@await Html.PartialAsync("_Slider")
<!-- Featurs Section Start -->
@await Html.PartialAsync("_Section")
<!-- Featurs Section End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
	<div class="container py-5">
		<div class="tab-class text-center">
			<div class="row g-4">
				<div class="col-lg-4 text-start">
					<h1>Our Organic Products</h1>
				</div>
				<div class="col-lg-8 text-end">

					<ul class="nav nav-pills d-inline-flex text-center mb-5">
						<li class="nav-item">

							<a class="d-flex m-2 py-2 bg-light rounded-pill @(string.IsNullOrEmpty(ViewBag.Slug) ? "active" : "")" data-bs-toggle="pill" href="#tab-1">
								<span class="text-dark" style="width: 130px;">All Products</span>
							</a>
						</li>
						<vc:categories></vc:categories>
					</ul>
				</div>
			</div>
			<div class="tab-content">
				<div id="tab-1" class="tab-pane fade show p-0 active">
					<div class="row g-4">
						<div class="col-lg-12">
							<div class="row g-4">
								@foreach (var item in Model)
								{
									<div class="col-md-6 col-lg-4 col-xl-3">
										<div class="rounded position-relative fruite-item">
											<a asp-action="Details" asp-controller="Product" asp-route-Slug="@item.Slug" asp-route-Id="@item.Id">
												<div class="fruite-img">
													<img src="~/media/products/@item.Image" class="img-fluid w-100 rounded-top" alt="@item.Name">
												</div>
											</a>
											<div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Category.Name</div>
											@if (User.Identity.IsAuthenticated)
											{
												<button class="px-2 py-1 bg-transparent rounded border border-secondary position-absolute add-to-wishlist" style="top: 10px; right: 10px;" data-id="@item.Id"><i class="fas fa-heart text-primary"></i></button>
											}
											<div class="p-4 border border-secondary border-top-0 rounded-bottom">
												<h4>@item.Name</h4>
												<p class="text-truncate">@item.Description</p>
												<p class="text-dark fs-5 fw-bold mb-0">@item.Price.ToString("#,##0 VND") / kg</p>
												@if (item.Quantity > 0)
												{
													if (User.Identity.IsAuthenticated)
													{
														<div class="d-flex justify-content-between flex-lg-wrap mt-3">
															<button data-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-to-cart">
																<i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
															</button>

															<button data-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-to-compare">
																<i class="fas fa-plus-square text-primary"></i>
															</button>
														</div>
													}
													else
													{
														<div class="d-flex justify-content-center flex-lg-wrap mt-3">
															<button data-id="@item.Id" class="btn border border-secondary rounded-pill px-3 text-primary add-to-cart">
																<i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart
															</button>
														</div>
													}
												}
												else
												{
													<div class="d-flex justify-content-center flex-lg-wrap mt-3">
														<button class="btn border border-secondary rounded-pill px-3 text-primary">
															Hết hàng
														</button>
													</div>
												}
											</div>
										</div>
									</div>
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script>
		$(document).ready(function () {
			$('.add-to-cart').click(function () {
				var id = $(this).data('id');

				$.ajax({
					url: "@Url.Action("Add", "Cart")",
					data: { id: id },
					type: 'POST',
					success: function (response) {
						if (response.success) {
							notyf.success(response.message);
						} else {
							notyf.error(response.message);
						}
					}
				});
			});

			$('.add-to-wishlist').click(function () {
				var id = $(this).data('id');

				$.ajax({
					url: "@Url.Action("AddWishlist", "Home")",
					data: { id: id },
					type: 'POST',
					success: function (response) {
						if (response.success) {
							notyf.success(response.message);
						} else {
							notyf.error("Error add wishlist");
						}
					}
				});
			});

			$('.add-to-compare').click(function () {
				var id = $(this).data('id');

				$.ajax({
					url: "@Url.Action("AddCompare", "Home")",
					data: { id: id },
					type: 'POST',
					success: function (response) {
						if (response.success) {
							notyf.success(response.message);
						} else {
							notyf.error("Error add wishlist");
						}
					}
				});
			});

			 $(".nav-item .pre").click(function (event) {
				event.preventDefault(); // Ngăn trang tải lại

				let url = $(this).attr("href"); // Lấy URL từ thẻ <a>

				// Cập nhật URL trên trình duyệt
				history.pushState(null, "", url);

				// Xóa class 'active' của tất cả danh mục, rồi thêm lại cho cái đang được chọn
				$(".nav-item a").removeClass("active");
				$(this).addClass("active");

				// Gọi AJAX để lấy nội dung mới
				$.ajax({
					url: url,
					type: "GET",
					dataType: "html",
					success: function (data) {
						let newContent = $(data).find(".tab-content").html();
						$(".tab-content").html(newContent);
					},
					error: function () {
						alert("Có lỗi xảy ra! Vui lòng thử lại.");
					}
				});
			});
		});
	</script>
}