@model ShoppingFood.Models.ViewModel.CartItemViewModel
@{
	ViewData["Title"] = "Cart Page";
}

<style type="text/css">
	.css_select_div {
		text-align: center;
	}

	.css_select {
		display: inline-table;
		width: 25%;
		padding: 5px;
		margin: 5px 2%;
		border: solid 1px #686868;
		border-radius: 5px;
	}
</style>

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
	<h1 class="text-center text-white display-6">Cart</h1>
	<ol class="breadcrumb justify-content-center mb-0">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Pages</a></li>
		<li class="breadcrumb-item active text-white">Cart</li>
	</ol>
</div>
<!-- Single Page Header End -->
<!-- Cart Page Start -->
<div class="container-fluid py-5">
	<div class="container py-5">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Products</th>
						<th scope="col">Name</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Total</th>
						<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.CartItems.Count() > 0)
					{
						foreach (var item in Model.CartItems)
						{
							<tr>
								<th scope="row">
									<div class="d-flex align-items-center">
										<img src="~/media/products/@item.Image" class="img-fluid me-5 rounded-circle" style="width: 80px; height: 80px;" alt="">
									</div>
								</th>
								<td>
									<p class="mb-0 mt-4">@item.ProductName</p>
									@if (!string.IsNullOrEmpty(item.VariantName))
									{
										<small class="text-muted">@item.VariantName</small>
									}
								</td>
								<td>
									<p class="mb-0 mt-4">@item.Price.ToString("#,##0 VND")</p>
								</td>
								<td>
									<div class="input-group quantity mt-4" style="width: 100px;">
										<div class="input-group-btn">
											<a class="btn btn-sm btn-minus rounded-circle bg-light border" asp-action="Decrease" asp-controller="Cart" asp-route-id="@item.ProductId" asp-route-variantId="@item.VariantId">
												<i class="fa fa-minus"></i>
											</a>
										</div>
										<input type="text" class="form-control form-control-sm text-center border-0" value="@item.Quantity">
										<div class="input-group-btn">
											<a class="btn btn-sm btn-plus rounded-circle bg-light border" asp-action="Increase" asp-controller="Cart" asp-route-id="@item.ProductId" asp-route-variantId="@item.VariantId">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</td>
								<td>
									<p class="mb-0 mt-4">@item.Total.ToString("#,##0 VND")</p>
								</td>
								<td>
									<a onclick="return confirm('Bạn có xác nhận muốn xoá không?')" class="btn btn-md rounded-circle bg-light border mt-4" asp-action="Remove" asp-controller="Cart" asp-route-id="@item.ProductId" asp-route-variantId="@item.VariantId">
										<i class="fa fa-times text-danger"></i>
									</a>
								</td>

							</tr>
						}
					}
					else
					{
						<tr class="text-center">
							<td colspan="6">You Cart is Empty.</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
		<div class="my-5">
			<input type="text" class="border-0 border-bottom rounded me-5 py-3 mb-4 coupon-value" placeholder="Coupon Code">
			<button class="btn border-secondary rounded-pill px-4 py-3 text-primary btn-coupon" type="button">Apply Coupon</button>
			<br /> <span class="text-primary">@Model.CouponCode</span> <br />
		</div>
		<div class="row g-4 justify-content-end">
			<div class="col-8">
			</div>
			<div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
				<div class="bg-light rounded">
					<div class="p-4">
						<h1 class="display-6 mb-4">Cart <span class="fw-normal">Total</span></h1>
						<div class="d-flex justify-content-between mb-4">
							<h5 class="mb-0 me-4">Subtotal:</h5>
							<p class="mb-0">@Model.GrandTotal.ToString("#,##0 VND")</p>
						</div>
					</div>
					<div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
						<h5 class="mb-0 ps-4 me-4">Total</h5>
						<p class="mb-0 pe-4">@Model.GrandTotal.ToString("#,##0 VND")</p>
					</div>
					@if (User.Identity.IsAuthenticated)
					{
						@if (Model.CartItems.Count > 0)
						{
							<a asp-action="CheckOut" asp-controller="Cart" class="btn btn-primary rounded-pill px-5 py-3 text-white text-uppercase mb-4 ms-4 fw-bold">Tiến hành Thanh toán</a>
						}
					} 
					else 
					{
						<a asp-action="Login" asp-controller="Account" class="btn border-secondary rounded-pill px-3 py-2 text-primary text-uppercase mb-4 ms-4">Login to Checkout</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Cart Page End -->
@section Scripts {
	<script>
		$(document).ready(function() {
			$('.btn-coupon').click(function(){
				var coupon_value = $('.coupon-value').val();

				$.ajax({
					type:'POST',
					url:"@Url.Action("Coupon", "Cart")",
					data:{value:coupon_value},
					success:function(response){
						if(response.success)
						{
							_notyf.success(response.message);
							location.reload();
						} else {
							_notyf.error(response.message);
						}
					}
				})
			})
		 });
	</script>
}